argparse==1.4.0
blinker==1.4
BeautifulSoup4==4.5.3
click==6.7
Flask==0.12.2
Flask-Dance=0.13.0
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
ordereddict==1.1
pdfkit==0.6.1
psycopg2==2.7.1
pytube==6.3.0
requests==2.12.4
SQLAlchemy==1.1.11
SQLAlchemy-Utils=0.32.21
Werkzeug==0.12.2
WTForms==2.1