{% extends "layout.html" %}

{% block content %}
<title>Your Convert History</title>

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            {% if convert_history %}
            <ul class="list-group">
                <p><strong>Your Convert History:</strong></p>
                {% for convert in convert_history %}
                    <li class="list-group-item">
                        <p><a href="{{ convert.url }}"> {{ convert.title }} </a></p>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="lead">你还没有任何下载。试试<a href="{{ url_for('convert') }}">转换网页为PDF</a>?</p>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}