{% extends "layout.html" %}

{% block content %}
<title>Your Convert History</title>

<div class="container" >
    <div class="row top-buffer">
        {% if convert_history %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <ul class="list-group">
                <p><strong>Your Convert History:</strong></p>
                {% for convert in convert_history %}
                    <li class="list-group-item">
                        <p><a href="{{ convert.url }}"> {{ convert.title }} </a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="lead">You haven't convert any webpage yet.</p>
        {% endif %}
    </div>
</div>

{% endblock %}