{% extends "layout.html" %}

{% block content %}
<title>Home - Youtube Downloader</title>

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <form method="POST" action="/">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.youtube_url.label }}:
                    {% if form.youtube_url.errors %}
                    <div class="alert alert-warning" role="alert">
                     {% for error in form.youtube_url.errors %}
                      {{ error }}
                     {% endfor %}
                    </div>
                    {% endif %}
                    {{ form.youtube_url(class="form-control") }}
                </div>
                {{ form.generate(class="btn btn-primary btn-lg") }}
            </form>
        </div>
    </div>

    <div class="row top-buffer">
        {% if name %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <ul class="list-group">
                <p><strong>Video Name:</strong></p>
                    <li class="list-group-item">
                        <p> {{ name }} </p>
                    </li>
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="row">
        {% if quality %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <ul class="list-group">
                <p><strong>Available Quality:</strong></p>
                {% for each in quality %}
                    <li class="list-group-item">
                        <p> <a href="{{ url_for('download', extension=each[0], resolution=each[1], url=url) }}" class="bucket"> {{ each[0] }} {{ each[1] }} </a> </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}