{% extends "layout.html" %}

{% block content %}
<title xmlns="http://www.w3.org/1999/html">Home</title>

<div class="form-div" >
    <form method="POST" action="/">
    {{ form.hidden_tag() }}

    {{ form.youtube_url.label }}:
    <div class="error-msg">
    {% if form.youtube_url.errors %}
     {% for error in form.youtube_url.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}
    </div>
    {{ form.youtube_url }}

    {{ form.generate(class="buttom") }}

    </form>
</div>

<div class="div-bucket">
{% if resolutions %}
  {% for quality in resolutions %}
    <a href="{{ url_for('download', quality=quality, url=url) }}" class="bucket"> {{ quality }} </a>
  {% endfor %}
{% endif %}
</div>

{% endblock %}