{% extends "layout.html" %}

{% block content %}
<title xmlns="http://www.w3.org/1999/html">Home</title>

<div class="form-div" >
    <form method="POST" action="/">
    {{ form.hidden_tag() }}

    {{ form.youtube_url.label }}:
    <div class="error-msg">
    {% if form.youtube_url.errors %}
     {% for error in form.youtube_url.errors %}
      {{ error }}
     {% endfor %}
    {% endif %}
    </div>
    {{ form.youtube_url }}

    {{ form.generate(class="buttom") }}

    </form>
</div>

<div class="div-bucket">
{% if quality %}
  {% for each in quality %}
    <p> <a href="{{ url_for('download', extension=each[0], resolution=each[1], url=url) }}" class="bucket"> {{ each[0] }} {{ each[1] }} </a> </p>
  {% endfor %}
{% endif %}
</div>

{% endblock %}