<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/x-icon">
        <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">Youtube Gadget</a>
              </div>


                  <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a></li>
                <li><a href="{{ url_for('convert') }}">Convert</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('search_video') }}">Search Video</a></li>
                    <li><a href="{{ url_for('search_user') }}">Search User</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Search channel</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Search ..</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search video">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  {% if not current_user.is_authenticated %}
                  <li><a href="{{ url_for('login') }}">Login</a></li>
                  <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                  {% else %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.firstname }} {{ current_user.lastname }}<span class="caret"></span></a>
                       <ul class="dropdown-menu">
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        <li><a href="{{ url_for('youtube_history') }}">Youtube History</a></li>
                        <li><a href="{{ url_for('convert_history') }}">Convert History</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                      </ul>
                  {% endif %}
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>

    {% block content %}
    {% endblock %}

  </body>
</html>