{% extends "layout.html" %}

{% block content %}
<title>登陆</title>

<div class="container" >
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <form method="POST" action="/login">
          <!--<div class="container">-->
          <h3>登陆</h3>
          {{ form.hidden_tag() }}

          <!--<div class="col-xs-5" style="margin-right: 800px;">-->
          {% if get_flashed_messages() %}
          <div class="alert alert-warning" role="alert">
          {% for message in get_flashed_messages() %}
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
            {{ message }}
          {% endfor %}
          </div>
          {% endif %}
          <!--</div>-->

          <!--<div class="col-xs-5" style="margin-right: 800px;">-->
          <div class="input">
            {% if form.email.errors %}
            <div class="alert alert-warning" role="alert">
              {% for error in form.email.errors %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}
            {{ form.email(class="form-control") }}
          <!--</div>-->
          </div>


          <!--<div class="col-xs-5" style="margin-right: 800px;">-->
          <div class="input">
            {% if form.password.errors %}
            <div class="alert alert-warning" role="alert">
              {% for error in form.password.errors %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}
            {{ form.password(class="form-control") }}
          </div>
          <!--</div>-->
          <div class="checkbox-inline remember">
            {{ form.remember_me }}
            {{ form.remember_me.label }}
          </div>

          {{ form.submit(class="btn btn-primary btn-default button") }}
      <!--</div>-->
      </form>
      </div>
    </div>
</div>
{% endblock %}