{% extends "layout.html" %}

{% block content %}
<title>搜索视频</title>

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h3>搜索Youtube视频</h3>
            <form class="form-group" method="POST" action="/search_video">
                {% if form.keyword.errors %}
                    <div class="alert alert-warning alert-dismissable fade in" role="alert">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                     <span class="sr-only">Error:</span>
                     {% for error in form.keyword.errors %}
                      {{ error }}
                     {% endfor %}
                    </div>
                    {% endif %}
                <div class="input-group">
                    {{ form.hidden_tag() }}
                    {{ form.keyword(class="form-control") }}
                    <span class="input-group-btn">
                        {{ form.search(class="btn btn-primary btn-default") }}
                    </span>
                </div>
            </form>

        </div>
    </div>

    <div class="row top-buffer">
        {% if search_result %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <ul class="list-group" id="showvid">
                {% for item in search_result %}
                    <li class="list-group-item">
                    <!--<span class="badge">14</span>-->
                        <p><strong>{{ item[0] }}</strong>
                        {% set loop_index = loop.index-1 %}
                        {% if item[2] == 'Youtube_Channel' %}
                        <span class="label label-primary">Channel</span>
                        {% endif %}
                        </p>
                        <p><a href="{{ item[1] }}" class=""> {{ item[1] }}</a></p>
                        {% if not item[2] == 'Youtube_Channel' %}
                        <p>Uploaded by {{ item[2] }}</p>
                        <div style="margin-top: 8px;">
                          <a href="#" title="下载">
                              <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
                          </a>
                          <button class="btn btn-primary btn-default" v-on:click="ChangeValue({{loop_index}})" v-if="items[{{loop_index}}].show">
                            <i class="fa fa-video-camera fa-lg fa-fw" aria-hidden="true"></i>
                          </button>
                          <a v-on:click="ChangeValue({{loop_index}})" v-else>
                            <i class="fa fa-video-camera fa-lg fa-fw" aria-hidden="true"></i>
                          </a>
                          <transition name="fade">
                            <p v-if="items[{{loop_index}}].show">
                                <iframe width="523" height="315" src="{{ item[1] | get_emb_url }}" frameborder="0" allowfullscreen></iframe>
                            </p>
                          </transition>
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}