{% extends "layout.html" %}

{% block content %}
<title>搜索用户</title>

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h3>搜索Youtube用户</h3>
            <form class="form-group" method="POST" action="/search_user">
                {% if form.user_acct.errors %}
                    <div class="alert alert-warning alert-dismissable fade in" role="alert">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                     <span class="sr-only">Error:</span>
                     {% for error in form.user_acct.errors %}
                      {{ error }}
                     {% endfor %}
                    </div>
                    {% endif %}
                <div class="input-group">
                    {{ form.hidden_tag() }}
                    {{ form.user_acct(class="form-control") }}
                    <span class="input-group-btn">
                        {{ form.get(class="btn btn-primary btn-default") }}
                    </span>
                </div>
            </form>

        </div>
    </div>

    <div class="row top-buffer">
        {% if video_list %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <ul class="list-group">
                {% for item in video_list %}
                    <li class="list-group-item">
                    <!--<span class="badge">14</span>-->
                        <p><strong>{{ item[0] }}</strong></p>
                        <p><a href="{{ item[1] }}" class=""> {{ item[1] }}</a>
                        Uploaded {{ item[2] }}
                        </p>
                        <p><a href="{{ url_for('search_user') }}" class=""> Download </a></p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}