{% extends "layout.html" %}

{% block content %}
<title>Create an account</title>

<div class="container" >
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-1 col-centered">
        <form method="POST" action="/signup">
          <div class="container">
          <h3>注册</h3>
          {{ form.hidden_tag() }}

          <div class="col-xs-5" style="margin-right: 800px;">
            {{ form.first_name.label }}

            {% if form.first_name.errors %}
            <div class="alert alert-warning" role="alert">
              {% for error in form.first_name.errors %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}

            {{ form.first_name(class="form-control") }}
          </div>

          <div class="col-xs-5" style="margin-right: 800px;">
            {{ form.last_name.label }}

            {% if form.last_name.errors %}
            <div class="alert alert-warning" role="alert">
              {% for error in form.last_name.errors %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}

            {{ form.last_name(class="form-control") }}
          </div>

          <div class="col-xs-5" style="margin-right: 800px;">
            {{ form.email.label }}

            {% if form.email.errors %}
            <div class="alert alert-warning" role="alert">
              {% for error in form.email.errors %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}

            {% if get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">
              {% for message in get_flashed_messages() %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              {{ message }}
              {% endfor %}
            </div>
            {% endif %}

            {{ form.email(class="form-control") }}
          </div>

          <div class="col-xs-5" style="margin-right: 800px;">
            {{ form.password.label }}

            {% if form.password.errors %}
            <div class="alert alert-warning" role="alert">
              {% for error in form.password.errors %}
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error }}
              {% endfor %}
            </div>
            {% endif %}

            {{ form.password(class="form-control") }}
          </div>

          {{ form.submit(class="btn btn-primary btn-default", style="margin-top: 15px;margin-right: 600px;margin-left: 15px;") }}
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}