{% extends "layout.html" %}

{% block content %}
<title>下载Youtube视频</title>

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h3>下载Youtube视频</h3>
            <form class="form-group" method="POST" action="/youtube">

                {% if get_flashed_messages() %}
                    <div class="alert alert-warning alert-dismissable fade in" role="alert">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                     <span class="sr-only">Error:</span>
                    {% for message in get_flashed_messages() %}
                        {{ message }}
                    {% endfor %}
                    </div>
                {% endif %}

                {% if form.youtube_url.errors %}
                    <div class="alert alert-warning alert-dismissable fade in" role="alert">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                     <span class="sr-only">Error:</span>
                     {% for error in form.youtube_url.errors %}
                      {{ error }}
                     {% endfor %}
                    </div>
                    {% endif %}
                <div class="input-group">
                    {{ form.hidden_tag() }}
                    {{ form.youtube_url(class="form-control") }}
                    <span class="input-group-btn">
                        {{ form.generate(class="btn btn-primary btn-default") }}
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row top-buffer">
        {% if name %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p><strong>视频名称:</strong></p>
            <ul class="list-group">
                    <li class="list-group-item">
                        <p> {{ name }} </p>
                    </li>
            </ul>
        </div>
        {% endif %}
    </div>

    <div class="row">
        {% if quality %}
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p><strong>画质选择:</strong></p>
            <form action="{{ url_for('download') }}" method="GET">
                {% for each in quality %}
                <div class="radio">
                  <label>
                    <input type="radio" name="quality" id="quality" value="{{ each[0] }}&{{ each[1] }}&{{ url }}" checked>
                    {{ each[0] }} {{ each[1] }}
                  </label>
                  <!--<input type="hidden" name="resolution" value="{{ each[1] }}">-->
                  <!--<input type="hidden" name="url" value="{{ url }}">-->
                </div>
                {% endfor %}
                <input class="btn btn-primary btn-default" type="submit" value="下载">
            </form>

        </div>
        {% endif %}
    </div>

</div>

{% endblock %}