{% extends "layout.html" %}

{% block content %}
<title>Youtube下载历史</title>

<div class="container" >
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            {% if download_history %}
            <h3>你的Youtube下载历史:</h3>
            <ul class="list-group">
                {% for download in download_history %}
                    <li class="list-group-item">
                        <p><a href="{{ download.url }}"> {{ download.title }} </a></p>
                        <p class="create-time">{{ download.download_time.strftime('%Y{y}%m{m}%d{d} %H:%M').format(y='年', m='月', d='日') }}</p>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="lead">你还没有任何下载。试试<a href="{{ url_for('youtube') }}">下载Youtube视频</a>?</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}